<!DOCTYPE html>

{% load static %}




{% block header_refrences %}
    <!-- Favicon-->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'find.css' %}" rel="stylesheet" />
{% endblock header_refrences %}

{% block header_section_shop  %}
    <!-- Navigation-->

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show text-end" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
    
    {% endif %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پیگیری سفارش</title>
    <link rel="stylesheet" href="style.css"> <!-- لینک فایل CSS -->
</head>
<body>
    <div class="container">
        <h2>پیگیری سفارش</h2>
        <p>کد پیگیری خود را وارد کنید:</p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="tracking_code" placeholder="کد رهگیری را وارد کنید">
            <button type="submit">جستجو</button>
        </form>
        
        {% if orders %}
        <h2>اطلاعات سفارش:</h2>
        {% for product in orders %}
        <div class="order-box">
            {% for Productss in cart_Productss  %}
            <img id="callistaImage" src="{{Productss.picture.url}}" class="img-fluid rounded-start brand-image" alt="callista" width="150" height="200">
            {% endfor %}
            <p><strong>نام محصول:</strong> {{ product.product.name }}</p>
            <p><strong>قیمت:</strong>
                {% if product.product.is_sale %}
                    {{ product.product.sale_price }} تومان
                {% else %}
                    {{ product.product.price }} تومان
                {% endif %}
            </p>
            <p><strong>وضعیت پرداخت:</strong> {{ product.is_paid|yesno:"پرداخت شده,در انتظار پرداخت" }}</p>
            <p><strong>وضعیت سفارش:</strong> {{ product.get_status_display }}</p>
            <p><strong>کد پیگیری:</strong> {{ product.tracking_code }}</p>
            <hr>
        </div>
    {% endfor %}
    {% elif error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
        
    </div>
</body>
</html>


{% endblock header_section_shop %}
{% block footer_section_shop %}
{% endblock  %}
