{% load static %}
<footer class="bg-dark pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container px-4 px-lg-5 my-5">
        <div class="d-flex justify-content-between text-center text-black"> 

        <h1 class="display-4 fw-bolder text-black">برای خرید کلیک کن</h1>
        <div class="text-center">
            <a class="btn btn-outline-primary mt-auto" href="{% url "index_students" %}">خرید</a>
          </div>
        <h1 class="display-4 fw-bolder text-black">برای خرید کلیک کن</h1>
    </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static "shop/js/scripts.js" %}"></script>
</body>
</html>