{% load static %}


<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% if user.is_authenticated %}
<nav>
    <a href="{% url "index_blog" %}">خانه</a>
    <a href="{% url "index_shop" %}">بخش خرید لوازم ارایش</a>
    <a href="{% url "logout_url" %}">خارج شدن</a>
    <a href="{% url "cart_summary" %}" class="btn btn-outline-dark">
        <i class="bi-cart-fill me-1"></i>
        سبد خرید
        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{cart|length}}</span>
    </a>
    <button id="darkModeToggle" class="link-style">تغییر رنگ پس زمینه</button>
    <div class="dropdown">
        <button onclick="toggleDropdown()">منوی کشویی</button>
        <div class="dropdown-content" id="dropdownMenu">
            <li><a class="dropdown-item" href="{% url "index_shop" %}">همه محصولات</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{% url "category_url" "My" %}">My</a></li>
            <li><a class="dropdown-item" href="{% url "category_url" "Alpin" %}">Alpin</a></li>
            <li><a class="dropdown-item" href="{% url "category_url" "CALISTA" %}">CALISTA</a></li>
            
        </div>
    </div>
</nav>

{% else %}
<nav>
    <a href="{% url "login_url" %}">ورود</a>
    <a href="{% url "signup_url" %}">ثبت نام</a>
</nav>
{% endif %}
<script>
    // JavaScript for toggling dark mode
    const toggleButton = document.getElementById('darkModeToggle');
    toggleButton.addEventListener('click', () => {
      document.body.classList.toggle('dark-mode');
      document.querySelectorAll('.header, .footer, .navbar').forEach(element => {
        element.classList.toggle('dark-mode');
      });
    });
  
    // CSS for dark mode
    const style = document.createElement('style');
    style.innerHTML = `
      .dark-mode {
        background-color: #121212;
        color: #ffffff;
      }
      .header.dark-mode, .footer.dark-mode, .navbar.dark-mode {
        background-color: #1d1d1d;
        color: #ffffff;
      }
      .product-card {
        background-color: #1d1d1d;
        border: 1px solid #ffffff;
      }
      button a {
        color: #ffffff !important;
      }
    `;
    document.head.appendChild(style);
  </script>
  <script>
    function toggleDropdown() {
        let menu = document.getElementById("dropdownMenu");
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block";
            setTimeout(() => {
                menu.style.opacity = "1";
                menu.style.transform = "translateY(0px)";
            }, 10);
        } else {
            menu.style.opacity = "0";
            menu.style.transform = "translateY(-10px)";
            setTimeout(() => {
                menu.style.display = "none";
            }, 500);
        }
    }
</script>