{% load static %}


<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% if user.is_authenticated %}
<nav>
    <a href="{% url "index_shop" %}">بخش خرید لوازم ارایش</a>
    <a href="{% url "logout_url" %}">خارج شدن</a>
    <a href="{% url "cart_summary" %}" class="btn btn-outline-dark">
        <i class="bi-cart-fill me-1"></i>
        سبد خرید
        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{cart|length}}</span>
    </a>
</nav>

{% else %}
<nav>
    <a href="{% url "login_url" %}">ورود</a>
    <a href="{% url "signup_url" %}">ثبت نام</a>
</nav>
{% endif %}
