{% load static %}


<link rel="stylesheet" href="{% static "Shop/css/style_student.css" %}">
<header class="bg-dark py-0">
    <div class="container px-4 px-lg-5 my-5">
        <div class="d-flex justify-content-between text-center text-black">
            <h1 class="display-2 fw-bolder">خوش اومدی</h1>
            <img src= {% static "Blog/images/sabt copy.png" %} alt="" width="350" height="250" class="">
            <h1 class="display-2 fw-bolder">به بخش ثبت نام </h1>
        </div>
    </div>
</header>