{% load static %}
{% load humanize %} 



{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "student/styles.css" %}" rel="stylesheet" />
{% endblock header_refrences %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آزمون تستی</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            direction: rtl;
            text-align: right;
            margin: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .question {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <h2>آزمون تستی</h2>
        <form action="{% url 'quiz_result' %}" method="post">
            {% csrf_token %}
            <div class="question">
                <p>۱. اسم شخصیت اصلی بازی Red Dead Redemption 2؟</p>
                <input type="radio" name="q1" value="Arthur_Morgan "> Arthur Morgan  <br>
                <input type="radio" name="q1" value="Dutch_Van_Der_Linde">Dutch Van Der Linde <br>
                <input type="radio" name="q1" value="John_Marston"> John Marston <br>
            </div>

            <div class="question">
                <p>۲. </p>
                <input type="radio" name="q2" value="HyperText"> HyperText Markup Language <br>
                <input type="radio" name="q2" value="HighTech"> HighTech Modern Language <br>
                <input type="radio" name="q2" value="HyperTalk"> HyperTalk Machine Learning <br>
            </div>

            <button type="submit">ارسال پاسخ‌ها</button>
        </form>
    </div>

</body>
</html>