{% extends "base_Students.html" %}
{% load static %}
{% load humanize %} 

{% block title %}
     بخش خرید کتاب ها
{% endblock title %}


{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "student/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "student/css/templatemo-style.css" %}">
{% endblock header_refrences %}

{% block header_section_student  %}

    {% include "Students/includes/header2.html" %}

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show text-end" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
    
    {% endif %}
    <!-- Header-->
{% endblock header_section_student %}

{% block content_section_student %}
<!-- Section-->
<section class="py-5">
</head>
<body>
    <!-- Page Loader -->
<div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        {% for item in StudentForYearrrrrrs2 %}
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{item.picture.url}}" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{item.name}}</h5>
                <!-- Product price-->
              </div>
              <div class="text-center mt-2">
                <p>{{item.description}}</p>
              </div>
            </div>
  
            <!-- Product actions-->
          </div>
        </div>
        {% endfor %}
</body>
</html>
          </section>

{% endblock content_section_student %}


{% block footer_section_student %}
    <!-- Footer-->
    {% include "Students/includes/footer2.html" %}
{% endblock  %}
