{% load static %}



{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "shop/css/style_index.css" %}" rel="stylesheet" />
{% endblock header_refrences %}

{% block header_section_shop  %}
    <!-- Navigation-->
    <!-- Header-->
    {% include "shop/includes/header.html" %}
{% endblock header_section_shop %}

{% block content_section_shop %}
<!-- Section-->

<section class="py-5">
  {% for item in Products %}
  <div class="product-container">
    <div class="product-card">
      <img src="{{item.picture.url}}" alt="Product Image">
      <div class="card-content">
        <h4>{{item.Product_name}}</h4>
        <p class="price">{{item.price}} تومان </p>
        <button>
          <a href="{% url "Products_Cosmetics" item.id %}">اطلاعات</a>
        </button>
  
    </div>
  </div>
  {% endfor %}
  </section>
{% endblock content_section_shop %}


{% block footer_section_shop %}
    <!-- Footer-->
    {% include "shop/includes/footer.html" %}
{% endblock  %}