{% extends "base_Students.html" %}
{% load static %}

{% block title %}
    Password Updated
{% endblock title %}
{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "student/css/styles.css" %}" rel="stylesheet" />
{% endblock header_refrences %}

{% block content_section_student %}
<h1>Your Password Was Changed Successfully...</h1>
<br/><br/>
<button type="button" class="btn btn-dark">
    <a class="text-decoration-none" href="{% url "index_blog" %}" >بازگشت به صفحه اصلی</a>
</button>


{% endblock content_section_student %}