{% extends "base_Students.html" %}
{% load static %}
{% load humanize %} 

{% block title %}
      بخش جست و جو
{% endblock title %}


{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "student/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "student/css/templatemo-style.css" %}">
{% endblock header_refrences %}

{% block header_section_student  %}
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="justify-content text-center text-black">
            <img src="https://png.pngtree.com/png-clipart/20231018/original/pngtree-man-reading-book-cartoon-style-illustration-png-image_13354977.png" alt="" width="200" height="200" class="">
            <h2 class="display-4 fw-bolder text-black">بخش جست و جو</h2>
        </div>
    </div>
</header>

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show text-end" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
    
    {% endif %}

    <!-- Header-->
    {% include "Students/includes/navbar.html" %}
    <div class="col-20">

    <div class="card">
        <div class="card-header text-center text-black">
            Search Book
          </div>
        <div class="justify-content text-center text-black">
          <form action=""></form>
        </div>
      </div>
    </div>
{% endblock header_section_student %}

{% block content_section_student %}
<!-- Section-->
<section class="py-5">
</head>
<body>
    <!-- Page Loader -->
    <div class="container px-4 px-lg-5 mt-5">

{% endblock content_section_student %}


{% block footer_section_student %}
    <!-- Footer-->
    {% include "Students/includes/footer.html" %}
{% endblock  %}