{% load static %}



{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "blog/index.css" %}" rel="stylesheet" />
{% endblock header_refrences %}

{% block header_section_shop  %}
    <!-- Navigation-->
    <!-- Header-->
    {% include "blog/includes/header.html" %}

{% endblock header_section_shop %}
    {% include "blog/includes/navbar.html" %}
{% block content_section_shop %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="fa">
<body>
    <div class="container">
            {% for item in blogs %}
            <h2>{{ item.author }}</h2>
                <h2>{{ item.title }}</h2>
                <p>{{ item.content }}</p>
                <img src="{{ item.image.url }}" alt="Blog Image" width="500" height="200">
                <p>{{ item.created_at }}</p>
            {% endfor %}
        {% else %}
            <h2>"لطفاً اول ورود یا ثبت نام کنید"</h2>
    </div>
</body>
</html>


{% endif %}
{% endblock content_section_shop %}


{% block footer_section_shop %}
    <!-- Footer-->
    {% include "Blog/includes/footer.html" %}
{% endblock  %}