body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://drive.google.com/file/d/1kOlSJ3jEF1TE4S2pS4TJFNImWTjzmrvb/view?usp=sharing") !important;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}


h2, button, input {
    animation: bounceTwice 1s ease-in-out 2; /* انیمیشن دو بار اجرا می‌شود */
}



h2 {
    color: #333;
    font-size: 2em;
    animation: fadeInText 2s ease-in-out infinite; /* انیمیشن محو شدن متن */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    animation: bounce 1.5s infinite; /* انیمیشن پرش */
}

input {
    font-size: 1em;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    position: relative;
    animation: moveAround 5s infinite; /* انیمیشن حرکت */
}

@keyframes moveAround {
    0% { transform: translateX(0); }
    25% { transform: translateX(50px); }
    50% { transform: translateY(30px); }
    75% { transform: translateX(-50px); }
    100% { transform: translateY(-30px); }
}


@keyframes fadeBackground {
    0% { background-color: #f0f8ff; }
    50% { background-color: #e6e6fa; }
    100% { background-color: #f0f8ff; }
}

@keyframes fadeInText {
    0% { opacity: 0; transform: translateY(-20px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

