.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    max-width: 400px; /* کاهش عرض کارت */
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background: linear-gradient(to right, #ffffff, #f8f9fa);
    transition: all 0.3s ease-in-out;
    padding: 10px; /* کاهش فضای داخلی */
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: right;
    padding: 15px;
}

.card-title {
    font-size: 18px; /* کاهش اندازه فونت */
    font-weight: bold;
    color: #343a40;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 8px;
}

.sub-heading {
    font-size: 18px; /* کاهش اندازه متن قیمت */
    font-weight: bold;
    color: #dc3545;
    background: rgba(220, 53, 69, 0.1);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.btn-dark {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
    background: linear-gradient(to right, #343a40, #212529);
    transition: background 0.3s ease-in-out;
}

.btn-dark:hover {
    background: linear-gradient(to right, #212529, #000000);
}

.btn-dark a {
    color: #fff;
    text-decoration: none;
}
